/*  Headers & Footers */

#header {
	text-align: center;
	margin-bottom: 2em;
}

#footer {
	text-align: center;
	clear: both;
	padding-top: 2em;
}

/* Body & Content */

body {
	margin: 4em;
	font-family: Georgia, "Times New Roman", serif;
}

h1, h2 {
	font-family: Rockwell, Arial, Verdana, sans-serif;
}

h1 a, h2 a {
	text-decoration: none;
}

#content-sidebar-wrapper {
	padding-right: 17em;
}

#content-wrapper {
	padding-right: 0;
}

#content {
	float: left;
	width: 95%;
}

#content.no-sidebar {
	width: 100%;
}

#content h1, #content h2, #content h3 {
	margin: 0;
	padding: 0;
}

.note {
	color: #888888;
	font-style: italic;
	font-size: 80%;
}

/* Posts */

.post {
	margin-bottom: 2.5em;
}

.snippet-link {
	margin-right: 1em;
}

#prev {
	float: left;
}

#prev:before {
	content: '\27F5';  /* long leftward arrow */
}

#next {
	float: right;
}

#next:after {
	content: '\27F6';  /* long rightward arrow */
}

#prev-next {
	margin-bottom: 2em;
}

/* Sidebar */

#sidebar {
	float: right;
	border: 1px solid;
	width: 14em;
	margin-right: -17em;
	padding: 1em;
}

#sidebar h2 {
	display: inline; /* Allows the feed icon to sit next to the h2 */
}

#sidebar div {
	margin-bottom: 1.5em;
}

#sidebar .author .photo {
	display: table; /* not supported by IE, but who cares? */
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

#sidebar .social-media {
	text-align: right;
}

#sidebar .social-media img {
	border-style: none;
	margin: 0 0 0 0.5em;
}

#feed-icon {
	margin-left: 1em;
	vertical-align: text-bottom;
}

#tag-list ul, #tags ul, #comment-list ul {
	list-style-type: none;
	padding-left: 0;
}

#tag-list li, #tags li, #comment-list li {
	margin-bottom: 1em;
}

#comment-list .header {
	margin-bottom: 0.5em;
	font-style: italic;
}

#comment-list .header .commenter, #comment-list .header a {
	font-weight: bold;
	font-style: normal;
}

#comment-list .content:before {
	content: '\201C';  /* left double-quote */
}

#comment-list .content:after {
	content: '\201D';  /* right double-quote */
}

/* Comments */

#comment-form label {
	text-transform: capitalize;
}

#comment-form .note {
	text-transform: none;
}

#comment-form label, #comment-form text, #comment-form textarea {
	display: block;
}

#comments h3 {
	margin: 1em 0;
}

#comments .timestamp {
	color: #888888;
	font-style: italic;
	font-size: 80%;
}

#comments .comment {
	margin-bottom: 2em;
}

#comments .comment .header {
	font-weight: bold;
}

.by-author {
	display: table; /* not supported by IE, but who cares? */
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #CCCCCC;
}

#comments .by-author .timestamp {
	color: #333333;
}

/* Images */

.caption {
	color: #888888;
	font-style: italic;
	font-size: 80%;
}

.caption i, .caption em {
	font-style: normal;
}

/* Tags */

#tags {
	margin-top: 2em;
}

#post-tags {
	margin: 2em 0;
}

#post-tags a {
	margin-right: 0.5em;
}

.tag {
	border-radius: 0.5em;
	color: #FFFFFF;
	background-color: #888888;
	padding: 0.25em 0.5em;
	text-decoration: none;
	text-transform: capitalize;
}
